<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <div style="width: 700px;">
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:13px;line-height:20px;margin:15px 0 15px 0">{{ text_welcome }} </p>
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:13px;line-height:20px;margin:15px 0 15px 0">{{ text_message }} </p>
      	<br>
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:14px;line-height:20px;margin:15px 0 15px 0"><b>{{ message }}</b></p>
      	<br>
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:13px;line-height:20px;margin:15px 0 15px 0">
      		{{ text_thanks }}
      		<br/>
      		{{ store }}
      	</p>
      	<br/>
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:11px;line-height:20px;margin:15px 0 15px 0">{{ text_mail_view }}</p>
      	<p style="color:#313131;font-family:Verdana,sans-serif;font-size:11px;line-height:20px;margin:15px 0 15px 0">{{ text_mail_dontreply }}</p>
	</div>
</body>
</html>