{{ header }}
<div id="container" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if custom_themename != 'journal2' %}<div class="row">{% endif %}{{ column_left }}{% if custom_themename == 'journal2' %}{{ column_right }}{% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ mpseller_links }}
      <div class="mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-12 mv-reviews">
            <div class="panel panel-default">
              <div class="panel-heading clearfix"><span>{{ heading_title }}</span></div>
            </div>
            <div class="well">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                    <div class="input-group date">
                      <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                    <div class="input-group date">
                      <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                  </div>
                  <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                </div>
              </div>
            </div>
            <h3 class="text-right">{{ text_final_commission }}: <b>{{ final_commission }}</b></h3>
            <br>
            <div class="table-responsive">
              <table class="table table-bordered table-hover list">
                <thead>
                <tr>
                  <td class="text-right">{% if sort == 'mc.order_id' %}
                    <a href="{{ sort_order_id }}" class="{{ order|lower }}">{{ column_order_id }}</a>
                    {% else %}
                    <a href="{{ sort_order_id }}">{{ column_order_id }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_product_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_product_name }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'price' %}
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %}
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'quantity' %}
                    <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                    {% else %}
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'total' %}
                    <a href="{{ sort_total }}" class="{{ order|lower }}">{{ column_total }}</a>
                    {% else %}
                    <a href="{{ sort_total }}">{{ column_total }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'mc.amount' %}
                    <a href="{{ sort_amount }}" class="{{ order|lower }}">{{ column_amount }}</a>
                    {% else %}
                    <a href="{{ sort_amount }}">{{ column_amount }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'mc.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                </tr>
                </thead>
                <tbody>
                  {% if commissions %}
                  {% for commission in commissions %}
                  <tr>
                    <td class="text-right">{{ commission.order_id }} </td>
                    <td class="text-right">{{ commission.name }}</td>
                    <td class="text-right">{{ commission.price }}</td>
                    <td class="text-right">{{ commission.quantity }}</td>
                    <td class="text-right">{{ commission.total }}</td>
                    <td class="text-right">{{ commission.amount }}</td>
                    <td class="text-right">{{ commission.date_added }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="6">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %}{{ column_right }}{% endif %}
  {% if custom_themename != 'journal2' %}</div>{% endif %}
<script src="catalog/view/javascript/mpseller/datetimepicker/moment.js" type="text/javascript"></script>
<script src="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/mpseller/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = 'index.php?route=account/mpmultivendor/commission';

  var filter_date_start = $('input[name=\'filter_date_start\']').val();
  if (filter_date_start) {
    url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
  }

  var filter_date_end = $('input[name=\'filter_date_end\']').val();
  if (filter_date_end) {
    url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
  }

  location = url;
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.time').datetimepicker({
  pickDate: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});
//--></script>
</div>
{{ footer }}