{{ header }}
<div id="container" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if custom_themename != 'journal2' %}<div class="row">{% endif %}{{ column_left }}{% if custom_themename == 'journal2' %}{{ column_right }}{% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} mv-dashboard-wrap">{{ content_top }}{{ mpseller_links }}
      <div class="pull-right"><a href="{{ invoice }}" target="_blank" data-toggle="tooltip" title="{{ button_invoice_print }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <a href="{{ shipping }}" target="_blank" data-toggle="tooltip" title="{{ button_shipping_print }}" class="btn btn-primary"><i class="fa fa-truck"></i></a> <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h2>{{ heading_title }}</h2>
      <table class="table table-bordered table-hover list">
        <thead>
          <tr>
            <td class="text-left" colspan="2">{{ text_order_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left" style="width: 50%;">{% if invoice_no %}
              <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br />
              {% endif %}
              <b>{{ text_order_id }}</b> #{{ order_id }}<br />
              <b>{{ text_date_added }}</b> {{ date_added }}</td>
            <td class="text-left" style="width: 50%;">{% if payment_method %}
              <b>{{ text_payment_method }}</b> {{ payment_method }}<br />
              {% endif %}
              {% if shipping_method %}
              <b>{{ text_shipping_method }}</b> {{ shipping_method }}
              {% endif %}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover list">
        <thead>
          <tr>
            <td class="text-left" colspan="2">{{ text_customer_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">
              <b>{{ text_customer_name }}</b> {{ name }}<br />
              <b>{{ text_email }}</b> {{ email }}<br />
              <b>{{ text_telephone }}</b> {{ telephone }}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover list">
        <thead>
          <tr>
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</td>
            {% if shipping_address %}
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">{{ payment_address }}</td>
            {% if shipping_address %}
            <td class="text-left">{{ shipping_address }}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <div class="table-responsive">
        <table class="table table-bordered table-hover list">
          <thead>
            <tr>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_model }}</td>
              <td class="text-right">{{ column_quantity }}</td>
              <td class="text-right">{{ column_price }}</td>
              <td class="text-right">{{ column_total }}</td>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td class="text-left">{{ product.name }}
                {% for option in product.option %}
                <br />
                &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
                {% endfor %}
              </td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-right">{{ product.quantity }}</td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            {% for total in totals %}
            <tr>
              <td colspan="3"></td>
              <td class="text-right"><b>{{ total.title }}</b></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </tfoot>
        </table>
      </div>

      {#
      {% if comment %}
      <table class="table table-bordered table-hover list">
        <thead>
          <tr>
            <td class="text-left">{{ text_comment }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">{{ comment }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      #}

      <h3>{{ text_history }}</h3>
      <div id="history"></div>

      {% if order_change_permission %}
      <fieldset>
        <legend>{{ text_history_add }}</legend>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == mpseller_order_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group hide">
            <label class="col-sm-2 control-label" for="input-override"><span data-toggle="tooltip" title="{{ help_override }}">{{ entry_override }}</span></label>
            <div class="col-sm-10">
              <input type="checkbox" name="override" value="1" id="input-override" />
            </div>
          </div>
          <div class="form-group hide">
            <label class="col-sm-2 control-label" for="input-notify">{{ entry_notify }}</label>
            <div class="col-sm-10">
              <input type="checkbox" name="notify" value="1" id="input-notify" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-comment">{{ entry_comment }}</label>
            <div class="col-sm-10">
              <textarea name="comment" rows="8" id="input-comment" class="form-control"></textarea>
            </div>
          </div>
          <div class="text-right">
            <button id="button-history" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_history_add }}</button>
          </div>
        </div>
      </fieldset>
      {% endif %}

      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %}{{ column_right }}{% endif %}
  {% if custom_themename != 'journal2' %}</div>{% endif %}
<script type="text/javascript">
$('#history').load('index.php?route=account/mpmultivendor/orders/history&order_id={{ order_id }}');

$('#button-history').on('click', function() {
$.ajax({
  url: 'index.php?route=account/mpmultivendor/orders/addHistory&order_id={{ order_id }}',
  type: 'post',
  dataType: 'json',
  data: 'order_status_id=' + encodeURIComponent($('select[name=\'order_status_id\']').val()) + '&notify=' + ($('input[name=\'notify\']').prop('checked') ? 1 : 0) + '&override=' + ($('input[name=\'override\']').prop('checked') ? 1 : 0) + '&comment=' + encodeURIComponent($('textarea[name=\'comment\']').val()),
  beforeSend: function() {
    $('#button-history').button('loading');
  },
  complete: function() {
    $('#button-history').button('reset');
  },
  success: function(json) {
    $('.alert').remove();

    if (json['redirect']) {
      location = json['redirect'];
    }

    if (json['error']) {
      $('#history').before('<div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    if (json['success']) {
      $('#history').load('index.php?route=account/mpmultivendor/orders/history&order_id={{ order_id }}');

      $('#history').before('<div class="alert alert-success success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

      $('textarea[name=\'comment\']').val('');
    }
  },
  error: function(xhr, ajaxOptions, thrownError) {
    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
  }
});
});
</script>
</div>
{{ footer }}