{{ header }}
<div id="container" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success success"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  {% if error_warning_message %}
  <div class="alert alert-warning warning"><i class="fa fa-check-circle"></i> {{ error_warning_message }}</div>
  {% endif %}
  {% if custom_themename != 'journal2' %}<div class="row">{% endif %}{{ column_left }}{% if custom_themename == 'journal2' %}{{ column_right }}{% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ mpseller_links }}
      <div class="mv-dashboard-wrap">
        <div class="row">
          <div class="col-sm-12 mv-reviews">
            <div class="panel panel-default">
              <div class="panel-heading clearfix"><span>{{ heading_title }}</span>
                <div class="pull-right">
                  <button type="submit" form="form-storeinfo"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ button_save }}"><i class="fa fa-save"></i></button>
                  <a href="" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="{{ button_cancel }}"><i class="fa fa-reply"></i></a>
                </div>  
              </div>
            </div>
            <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form-storeinfo" >
              <ul id="tabs" class="nav nav-tabs htabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                <li><a href="#tab-store" data-toggle="tab">{{ tab_store }}</a></li>
                <li><a href="#tab-local" data-toggle="tab">{{ tab_local }}</a></li>
                <li><a href="#tab-image" data-toggle="tab">{{ tab_image }}</a></li>
                <li><a href="#tab-social" data-toggle="tab">{{ tab_social_profiles }}</a></li>
                <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
              </ul>  
              <div class="{% if custom_themename != 'journal2' %} tab-content {% else %} tabs-content {% endif %}">
                <div class="tab-pane active" id="tab-general">
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="description" rows="5" class="form-control">{{ description }}</textarea>
                      {% if error_description %}
                      <div class="text-danger">{{ error_description }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_description" id="input-storemeta" rows="5" class="form-control">{{ meta_description }}</textarea>
                      {% if error_meta_description %}
                      <div class="text-danger">{{ error_meta_description }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="meta_keyword" rows="5" class="form-control">{{ meta_keyword }}</textarea>
                      {% if error_meta_keyword %}
                      <div class="text-danger">{{ error_meta_keyword }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-store">
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_store_owner }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="store_owner" placeholder="{{ entry_store_owner }}" value="{{ store_owner }}" />
                      {% if error_store_owner %}
                      <div class="text-danger">{{ error_store_owner }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_store_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="store_name" class="form-control" placeholder="{{ entry_store_name }}" value="{{ store_name }}" />
                      {% if error_store_name %}
                      <div class="text-danger">{{ error_store_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_address }}</label>
                    <div class="col-sm-10">
                      <textarea name="address" class="form-control" placeholder="{{ entry_address }}">{{ address }}</textarea>
                      {% if error_address %}
                      <div class="text-danger">{{ error_address }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_email }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="email" placeholder="{{ entry_email }}" value="{{ email }}" />
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_telephone }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="telephone" placeholder="{{ entry_telephone }}" value="{{ telephone }}" />
                      {% if error_telephone %}
                      <div class="text-danger">{{ error_telephone }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_fax }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="fax" placeholder="{{ entry_fax }}" value="{{ fax }}" />
                      {% if error_fax %}
                      <div class="text-danger">{{ error_fax }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-local">
                  <div class="form-group required">
                    <label class="control-label col-sm-2">{{ entry_city }}</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="city" placeholder="{{ entry_city }}" value="{{ city }}" />
                      {% if error_city %}
                      <div class="text-danger">{{ error_city }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-country">{{ entry_country }}</label>
                    <div class="col-sm-10">
                      <select name="country_id" id="input-country" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for country in countries %}
                        {% if country.country_id == country_id %}
                        <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                        {% else %}
                        <option value="{{ country.country_id }}">{{ country.name }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      {% if error_country %}
                      <div class="text-danger">{{ error_country }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-zone">{{ entry_zone }}</label>
                    <div class="col-sm-10">
                      <select name="zone_id" id="input-zone" class="form-control">
                      </select>
                      {% if error_zone %}
                      <div class="text-danger">{{ error_zone }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-image">                  
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_banner }}
                      <p><small>{{ help_banner }}</small></p>
                    </label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-banner" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_banner }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="banner" value="{{ banner }}" id="input-banner" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_logo }}
                      <p><small>{{ help_logo }}</small></p>
                    </label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_logo }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="logo" value="{{ logo }}" id="input-logo" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">{{ entry_image }}
                      <p><small>{{ help_image }}</small></p>
                    </label>
                    <div class="col-sm-10">
                      <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_image }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-social">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_facebook }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="facebook_url" placeholder="{{ entry_facebook }}" value="{{ facebook_url }}">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_google_plus }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_google_plus }}" value="{{ google_plus_url }}" name="google_plus_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_twitter }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_twitter }}" value="{{ twitter_url }}" name="twitter_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_pinterest }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pinterest" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_pinterest }}" value="{{ pinterest_url }}" name="pinterest_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_linkedin }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_linkedin }}" value="{{ linkedin_url }}" name="linkedin_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_youtube }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-youtube" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_youtube }}" value="{{ youtube_url }}" name="youtube_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_instagram }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_instagram }}" value="{{ instagram_url }}" name="instagram_url">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_flickr }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flickr" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="{{ entry_flickr }}" value="{{ flickr_url }}" name="flickr_url">
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="tab-pane" id="tab-seo">
                  <div class="alert alert-info information"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>            
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover list">
                      <thead>
                        <tr>
                          <td class="text-left">{{ entry_store }}</td>
                          <td class="text-left">{{ entry_keyword }}</td>
                        </tr>
                      </thead>
                      <tbody>
                      {% for store in stores %}
                      <tr>
                        <td class="text-left">{{ store.name }}</td>
                        <td class="text-left">{% for language in languages %}
                          <div class="input-group"><span class="input-group-addon"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                            <input type="text" name="seller_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if seller_seo_url[store.store_id][language.language_id] %}{{ seller_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                          </div>
                          {% if error_seo_keyword[store.store_id][language.language_id] %}
                          <div class="text-danger">{{ error_seo_keyword[store.store_id][language.language_id] }}</div>
                          {% endif %} 
                          {% endfor %}</td>
                      </tr>
                      {% endfor %}
                      </tbody>                          
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-bordered table-hover list">
                      <thead>
                        <tr>
                          <td class="text-left">{{ entry_store }}</td>
                          <td class="text-left">{{ entry_review_seo_keyword }}</td>
                        </tr>
                      </thead>
                      <tbody>
                      {% for store in stores %}
                      <tr>
                        <td class="text-left">{{ store.name }}</td>
                        <td class="text-left">{% for language in languages %}
                          <div class="input-group"><span class="input-group-addon"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                            <input type="text" name="review_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if review_seo_url[store.store_id][language.language_id] %}{{ review_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                          </div>
                          {% if error_review_seo_keyword[store.store_id][language.language_id] %}
                          <div class="text-danger">{{ error_review_seo_keyword[store.store_id][language.language_id] }}</div>
                          {% endif %} 
                          {% endfor %}</td>
                      </tr>
                      {% endfor %}
                      </tbody>                          
                    </table>
                  </div>
                </div>
              </div>    
            </form>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {% if custom_themename != 'journal2' %}{{ column_right }}{% endif %}
  {% if custom_themename != 'journal2' %}</div>{% endif %}
<script type="text/javascript"><!--
$('select[name=\'country_id\']').on('change', function() {
  $.ajax({
    url: 'index.php?route=account/account/country&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
    },
    complete: function() {
      $('.fa-spin').remove();
    },
    success: function(json) {
      html = '<option value="">{{ text_select }}</option>';

      if (json['zone'] && json['zone'] != '') {
        for (i = 0; i < json['zone'].length; i++) {
          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

          if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
            html += ' selected="selected"';
          }

          html += '>' + json['zone'][i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{ text_none }}</option>';
      }

      $('select[name=\'zone_id\']').html(html);
    }
  });
});

$('select[name=\'country_id\']').trigger('change');
//--></script>
</div>
{{ footer }}