html, body {
	font-size: 13px;
}
.ostab {
	background: #f0f1f5;
	border:1px solid #ddd;
	padding: 10px;
}
.ostab li {
	border:1px solid #ddd;
	background: #e4e6ea;
	margin-top: 4px;
	margin-bottom: 4px;
}
.ostab li.active {
	border:none;
}
.ostab li a {
	color: #000;
	padding: 12px;
}
#tab-support .fa-thumbs-up{
	font-size: 30px;
	margin-right: 5px;
}
#tab-support .list-group-item > .badge a {
	color:#fff;
}
#tab-support .text-success {
	color: #538d15;
}
.text-mpsuccess {
	color: #07B8DA;
	font-weight: 600;
}
.badge {
	background-color: #07B8DA;
	padding: 7px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal;
}
.mp-buttons .btn-primary{
	background-color : #fff;
	border-color: #ccc;
	color: #333;
}
.mp-buttons .btn-primary:hover{
	background-color: #1E91CF;
	border-color: #1978ab;
	color: #fff;
}
.mp-buttons .btn-primary.active{
	background-color: #3E5776;
	border-color: #3E5776;
	color: #fff;
}
#module-points .fa-mp{
	font-size: 30px;
	margin-right: 5px;
}
#module-points .list-group-item > .badge a{
	color:#fff;
}
#module-points .text-success {
	color: #538d15;
}
#module-points .text-mpsuccess {
	color: #07B8DA;
	font-weight: 600;
}
#module-points .badge {
	background-color: #07B8DA;
	padding: 7px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: normal;
}
.mp-content .bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-bottom-width: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.mp-content .bs-callout-small {
	padding: 10px; margin: 10px 0;
}
.mp-content .bs-callout-info {
	border-bottom-color: #07B8DA;
}
.mp-content .bs-callout-info h4 {
	color: #07B8DA;
}
.mp-content .bs-callout-warning {
	border-bottom-color: #aa6708;
}
.mp-content .bs-callout-warning h4 {
	color: #aa6708;
}
.mp-content .bs-callout-danger {
	border-bottom-color: #ce4844;
}
.mp-content .bs-callout-danger h4 {
	color: #ce4844;
}
.mp-content .bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 600;
}
.mp-content h1 {
	color: #07B8DA;
	font-weight: 600;
}
.card-block{
	padding:10px 15px;
	margin:2px;
}
.codes .btn-primary{
	padding: 3px 10px;
}
.mp-content{
	background: #F3F6F8;
	font-family: 'Exo 2', sans-serif;
}
.mp-content .page-header{
	margin-top: 0;
	padding-top: 20px;
}
.mp-content .page-header h1{
	text-transform: uppercase;
	color: #475F7D;
	font-weight: 600;
}
.mp-content .panel-default{
	border-top: 0;
}
.mp-content .panel-default .panel-heading {
    color: #fff;
    border-color: #07B8DA;
    background: #07B8DA;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: #3E5776;
	color: #fff;
	font-weight: normal;
	outline: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: #07B8DA;
}
.col-sm-12.control-label{
	text-align: left;
	padding-bottom: 5px;
}
.form-control{
	font-size: 12px;
}
.font-size15{
	font-size: 15px;
}
.font-size16{
	font-size: 15px;
}
.rating-group{
	padding-top: 3px;
}
#rating i {
	font-size: 28px;
	margin-right: 8px;
}
.seller-links{
	margin-bottom: 10px;
}
.seller-links a{
	margin-bottom: 5px;
}
.mp-orderproducts .orderproduct-row{
 display: block;
 border-bottom: 1px solid #ddd;
 padding: 0 0 5px;
 margin-bottom: 5px;
}
.mp-orderproducts .orderproduct-row:last-child{
 border: none;
}
.admin-order-products td{
	font-weight: bold !important;
}
#form-review .rating{
	padding-left: 10px;
}
#form-review .rating .fa-stack{
	width: 1em;
	line-height: normal;
	color: #FC0;
}
#form-review .review-btns{
	position: absolute;
	width: 20%;
	right: 10px;
	top: 0;
}
#form-review .review-btns .btn.active {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}
#form-review .review-btns .btn {
    padding: 1.5px 8px;
}
#form-review .review-btns .btn.Disabled{
	background-color: #e06a51;
	border-color: #e06a51;
}
#form-review .review-btns .btn i{
	font-size: 12px;
}
#form-review .panel-heading .review-title{
	font-weight: 700;
	font-size: 14px;
	padding-left: 10px;
}
#form-enquiry .panel-seller{
	width: 20%;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 15px;
}
#form-enquiry .panel-seller h5{
	margin-top: 10px;
	font-weight: 600;
}
#form-enquiry .panel-inner{
	width: 80%;
	float: left;
	border-left: 1px solid #ddd
}
#form-enquiry .date .btn-sm{
	margin-left: 5px;
}
#form-enquiry .date .btn-sm i{
	font-size: 12px;
}
.right-part{
	border-left: 1px solid #ddd;
}
.right-part .nav > li > a{
	padding: 10px 12px;
}
.mv-ovrvw {
    margin-bottom: 30px;
	background: #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
}
.mv-ovrvw ul {
    margin-bottom: 0;
}
.mv-ovrvw ul li {
    padding: 12px 0 0;
}
.mv-ovrvw ul li .title {
    font-size: 15px;
    color: #505050;
    padding-bottom: 8px;
    padding-left: 10px;
    font-weight: bold;
}
.mv-ovrvw ul li .highlight {
    background: #C9C9C9;
    color: #1a1a1a;
    padding: 40px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
/* Update */
.mpchatting .from_name {
	font-size: 13px;
	display: inline-block;
	margin-bottom: 7px;
}
.mpchatting .from_name .namesub{
	font-size: 10.5px;
	line-height: 12px;
}
.mpchatting img{
	float: left;
}
.mpchatting .ticket-content{
	margin-left: 55px;
}
.mpchatting .ticket-time{
	float: right;
	font-size: 11px;
}
.mpchatting .cnt{
	font-size: 13px;
}